{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 style="text-align: center;color: red; font-size:50px;">Bienvenido a mi humilde pagina dame todos tus datos</h1>

{% endblock %}
